$background-color: linear-gradient(to right, #e3cbe8, #d712de);
$background-color-aside: #b48c8c;
$background-color-aside-hover: linear-gradient(to right, #e3cbe8, #d305ba);
$btn-hover: #9b46ad;
$color-header: #413c3c;
$color-hover: #ffff;
$shadow: 0 3px 12px 0 rgba(0, 0, 0, 1), 0 -2px 4px 0 rgb(128, 18, 222), inset 0 0 10px rgb(128, 18, 222);
$hover: linear-gradient(to right, #e3cbe8, #d305ba);
$background-color-app: linear-gradient(to right, #e7c8f1, #bc81f3);
